<div style="position:absolute; top:0; bottom:0; left:0; right:0; background: #ffffffaa; display:flex;">
    <div style="min-width:450px; padding:2rem; border:solid 1px darkgray; background: white; margin:auto;">
        <div style="padding: 1rem 0;">
            Delete record "{{title}}"?
        </div>
        <div style="text-align:right">
            <button type="button" jmb-on:click="delete_record()">Delete</button>
            <button type="button" jmb-on:click="cancel()">Cancel</button>
        </div>
    </div>
</div>